<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.tiang.controller; com.tiang.interceptor"/>

    <mvc:annotation-driven/>
    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
                    <property name="prefix" value=""/>
                    <property name="suffix" value=".ftl"/>
                    <property name="cache" value="true"/>
                    <property name="contentType" value="text/html;charset=utf-8"/>
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
                    <property name="contentType" value="application/json;charset=utf-8"/>
                </bean>
            </list>
        </property>
    </bean>

    <!--freemarker 模版的配置信息，主要是模版文件所在位置-->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/freemarker"/>
    </bean>

    <!--配置文件上传需要的bean-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="1048576"/>
    </bean>

    <!--访问静态资源，遇到这个直接返回-->
    <mvc:resources mapping="/html/**" location="html/"/>
    <mvc:resources mapping="/js/**" location="js/"/>
    <mvc:resources mapping="/css/**" location="css/"/>
    <mvc:resources mapping="/img/**" location="img/"/>

    <!--拦截器栈，暂时不需要了-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**/**.do"/>-->
            <!--<bean class="com.tiang.interceptor.NotSignedInterceptor"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

    <aop:aspectj-autoproxy/>
    <!--切面-->
    <bean id="notLogin" class="com.tiang.interceptor.LoginAspect"></bean>
</beans>